{{> head}}
<div class="col-sm-6">
    <h1 id="main-title">Order</h1>
        <!-- <a class="btn btn-success" href="/order/{{order.id}}" title="Submit order">Submit order</a> zxz -->
        <button type="submit" class="btn btn-default btn btn-success">
            <span class="glyphicon glyphicon-usd"></span> Submit Order
        </button>
    
    <table id="orderTable" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Qty</th>
                <th>Item Name</th>
                <th>Total Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="orderList">
        </tbody>
    </table><!--
            <tr>
                <td>6</td>
                <td>Buns</td>
                <td>$9000</td>
                <td>X</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Salad</td>
                <td>$666</td>
                <td>X</td>
            </tr>
            
        </table>


        <ul id="orderList">
            <li id="43"><p>item name</p><p>quantity</p><p>$100</p><p id="cosy">$ 216</p>
            <a class="btn btn-danger del" data-datac="43">X</a>
            </li>
            {{!-- these list items are supposed to be on a line --}}
            <hr>
            <li id="76"><p>item name</p><p>quantity</p><p>$100</p><p id="cosy">$ 216</p>
            <a class="btn btn-danger del" data-datac="76">X</a>
            </li>
        </ul>
-->
</div>

<div class="col-sm-6">
        <form id="addItem" accept-charset="utf-8">
            <input type="hidden" name="orderId" value="{{order.id}}" required>
            
            <label>Item: </label>
            <input type="number" id="itemIdInput" name="menuItemId" placeholder="#" min="0" required>
            
            <label>Quantity:</label>
            <input type="number" id="itemQtyInput" name="quantity" placeholder="3" value="1" min="1" required>
            
            <button type="submit" class="btn btn-default btn-sm btn-info">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        </form>

        <div id="menuList" class="panel panel-default">
            <div class="panel-heading"><h4>Menu Items</h4></div>
            {{#if menuItems}}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each menuItems}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>$ {{price}}</td>
                        <td>{{description}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
                <h3>No menu items exist.</h3>
            {{/if}}
        </div>
</div>
<script type="text/javascript" src="/js/order.js"></script>
{{> tail}}
