{{> head}}
<div class="main">
    <h1>Search Orders</h1>

    <div class="steps"> 
        <form action="" method="get" accept-charset="utf-8">
            <label>Customer No</label>
            <input type="number" name="customerId" placeholder="1">
            <label>Order Status</label>
            <select name="paid">
                <option value="">All</option>
                <option value="true">Paid</option>
                <option value="false">Not Paid</option>            
            </select>
            <input type="submit" name="submit" value="Search">
        </form>


        {{#if orders}}
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Method</th>
                        <th>Delivery Address</th>
                        <th>Created At</th>
                        <th>Order price</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                        <tr>
                           {{!-- <a href="/order/1" title="asd">asa</a> --}}
                           {{!-- id = 1 --}}
                           {{!-- for each row add a link or button to each order --}}
                            {{!-- like --}}

                           <td><a href="/order/{{id}}" class="btn btn-success">{{id}}</a></td>
                           <td>{{method}}</td>
                           <td>{{deliveryAddr}}</td>
                           <td>{{createdAt}}</td>
                           <td>$ {{priceSum}}</td>
                           <td>{{#if paid}}
                            Paid
                            {{else}}
                            Unpaid
                            {{/if}}
                        </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
    <h3>No Orders</h3>
    {{/if}}
    </div>
</div> <!-- /.main -->
{{> tail}}
